*{
    margin: 0;
    padding: 0;
}

#instructions
{
    position: absolute;
    top: 5%;

    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #ffffff;
    text-align: center;
}

#circle {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 50%;
    left: 50%;
    background: red;
    clip-path: circle();

}
#timer{
    position: absolute;
    top: 5%;
    left: 5%;
    font-weight:bold;
    font-size: 50px;
    color: orange;
}
#score{
    position: absolute;
    top: 5%;
    left: 90%;
    font-weight:bold;
    font-size: 50px;
    color: orange;
}

#button1 {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 60%;
    left: 15%;
    padding: 10px 5px;
    font-weight:bold;
    font-size: 30px;
    cursor: pointer;
    text-align: center;

    color: darkorange;
    background-color: red;

    border-radius: 10px;
    box-shadow: 0 8px red;
}

#button1:hover {background-color: red}

#button1:active {
    background-color: darkred;
    box-shadow: 0 5px darkred;
    transform: translateY(4px);
}

#button2{
    position: absolute;
    width: 70px;
    height: 70px;
    top: 70%;
    left: 15%;
    padding: 10px 5px;
    font-weight:bold;
    font-size: 30px;
    cursor: pointer;
    text-align: center;

    color: darkorange;
    background-color: red;

    border-radius: 10px;
    box-shadow: 0 8px red;
}

#button2:hover {background-color: red}

#button2:active {
    background-color: darkred;
    box-shadow: 0 5px darkred;
    transform: translateY(4px);
}


#button3{
    position: absolute;
    width: 120px;
    height: 70px;
    top: 60%;
    left: 5%;
    padding: 10px 5px;
    font-weight:bold;
    font-size: 40px;
    cursor: pointer;
    text-align: center;

    color: darkorange;
    background-color: red;

    border-radius: 10px;
    box-shadow: 0 8px red;
}

#button3:hover {background-color: red}

#button3:active {
    background-color: darkred;
    box-shadow: 0 5px darkred;
    transform: translateY(4px);
}

#button4{
    position: absolute;
    width: 120px;
    height: 70px;
    top: 60%;
    left: 88%;
    padding: 10px 5px;
    font-weight:bold;
    font-size: 40px;
    cursor: pointer;
    text-align: center;

    color: darkorange;
    background-color: red;

    border-radius: 10px;
    box-shadow: 0 8px red;
}

#button4:hover {background-color: red}

#button4:active {
    background-color: darkred;
    box-shadow: 0 5px darkred;
    transform: translateY(4px);
}

#button5{
    position: absolute;
    width: 70px;
    height: 165px;
    top: 60%;
    left: 80%;
    padding: 10px 5px;
    font-weight:bold;
    font-size: 20px;
    cursor: pointer;
    text-align: center;

    color: darkorange;
    background-color: red;

    border-radius: 10px;
    box-shadow: 0 8px red;
}

#button5:hover {background-color: red}

#button5:active {
    background-color: darkred;
    box-shadow: 0 5px darkred;
    transform: translateY(4px);
}

#button6{
    position: absolute;
    width: 120px;
    height: 70px;
    top: 70%;
    left: 5%;
    padding: 10px 5px;
    font-weight:bold;
    font-size: 20px;
    cursor: pointer;
    text-align: center;

    color: darkorange;
    background-color: red;

    border-radius: 10px;
    box-shadow: 0 8px red;
}

#button6:hover {background-color: red}

#button6:active {
    background-color: darkred;
    box-shadow: 0 5px darkred;
    transform: translateY(4px);
}

#button7{
    position: absolute;
    width: 120px;
    height: 70px;
    top: 70%;
    left: 88%;
    padding: 10px 5px;
    font-weight:bold;
    font-size: 20px;
    cursor: pointer;
    text-align: center;

    color: darkorange;
    background-color: red;

    border-radius: 10px;
    box-shadow: 0 8px red;
}

#button7:hover {background-color: red}

#button7:active {
    background-color: darkred;
    box-shadow: 0 5px darkred;
    transform: translateY(4px);
}


