<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vengeance's Journey</title>

    <link rel="stylesheet" href="/static/css/HomeStyle.css">

</head>
    <body>

    <div class="game_name">
        VENGEANCE'S JOURNEY
    </div>

    <button class="button1"></button>
    <button class="button2"></button>
    <button class="button3"></button>

    <button class="play" onclick="location.href='{{ url_for('game')}}'"></button>
    <button class="SignIn" onclick="location.href='{{ url_for('sign_in')}}'">Sign In</button>
    <button class="LogIn" onclick="location.href='{{ url_for('log_in')}}'">Log In</button>

    </body>
</html>
