<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Vengeance's Journey</title>
</head>
<body>

<div id="instructions">
    (W,A,S,D,Q,E = Move, SPACEBAR = Shoot)
</div>
<div id="timer"></div>
<div id="circle"></div>
<div id="score"></div>

<button id="button1" >/\</button>
<button id="button2" >\/</button>
<button id="button3" ><</button>
<button id="button4" >></button>
<button id="button5" >o</button>
<button id="button6" >DL</button>
<button id="button7" >DR</button>



<script type="importmap">
    {
      "imports": {
        "three": "/static/js/threejs/build/three.module.js",
        "cannon-es": "/static/js/cannonjs/cannon-es.js"
      }
    }
</script>


<script src="/static/js/main.js" type="module"></script>

</body>
</html>
