<!DOCTYPE html>
<html lang="en">
<head>
     <!-- This tag specifies the character encoding for the document, which is UTF-8 in this case -->
    <meta charset="UTF-8">
    <title>Log In</title>
     <!-- We indicate the css file that will be used -->
    <link rel="stylesheet" href="/static/css/sign_in.css">
</head>
    <body>
        <div class="card-wrapper">
            <div class="card">
                <h1 class="center">Entra nel tuo account</h1>
                <form name="signup_form" action="/log_in/" method="post">

                    <label for="email">Email</label>
                    <!--required indicates a required field-->
                    <input type="email" name="email" class="field" required>

                    <label for="password">Password</label>
                    <!--required indicates a required field-->
                    <input type="password" name="password" class="field" required>

                    <p class="error error--hidden"></p>

                    <input type="submit" value="Log_in" class="btn">

                </form>
            </div>
        </div>

        <!-- We indicate the js files that will be used -->
        <script src="/static/js/jquery.js"></script>
        
        <script src="/static/js/script_log_in.js"></script>
    </body>
</html>
